.list{
    margin-left: 10px;
    margin-right: 10px;
}
.list-Name{
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
}

.list-body{
    overflow-x: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}